body {
	display: flex;
	justify-content: center;
	align-items: center;
	min-height: 100vh;
	background: bisque;
}

form {
	background-color: white;
	padding: 40px 30px;
	border-radius: 24px;
	min-width: 300px;
	width: 400px;
	font-family: 'IBM Plex Sans', sans-serif;



}

form h2 {
	margin: 0px;
	font-size: 34px;
	line-height: 44px;

}

.alternative {
	margin-bottom: 57px;

}

.form-field {
	margin-top: 34px;
}
.form-field label {
	display: block;
	color: #756F86;
	line-height: 21px;
	margin-bottom: 7px;
}
.form-field input {
	width: calc(100% - 32px);
	padding: 16px;
	border: 1px solid #DBE2EA;
	border-radius: 6px;
	color: #7C9CBF;
}

.form-field input::placeholder {
	color: #7C9CBF;
}
.form-field input:active, .form-field input:focus, .form-field select:active, .form-field select:focus {
	border: 2px solid #0880AE;
	outline: none;

}

.form-field select {
	width: 100%;
	padding: 16px 16px 15px;
	border-radius:  6px;
	color: #7C9CBF;
	background-color: #ffffff;
	border: 1px solid #DBE2EA;
	-moz-appearance:none; /* Firefox */
	-webkit-appearance:none; /* Safari and Chrome */
	appearance:none;
	position: relative;
	background-image: url('img/Accent.png');
	background-position: calc(100% - 15px) center;
	background-repeat: no-repeat;


	&:before {
		content: " ";
		display: block;
		position: absolute;
		background-image: url("");
		background: green;
		top: calc(50% - .5em);
		left:  1em;
		width: 1em;
		height: 1em;
	}
}
